<section id="widget-carousel" class="widget-carousel">
  <div class="widget-carousel__targets">
    <p class="no-margin widget-carousel__title">FORECAST EXTENDED</p>

    <div class="widget-carousel__container grid-x">
      <div class="grid-x">

        <div class="widget-carousel-item" *ngFor="let day of days">
          <div class="widget-day">
            <p class="no-margin"> {{ day.date | date: 'EEEE' }} </p>
          </div>
          <div class="widget-carousel__temp-txt">
            <p class="no-margin"> {{ day.temp | temp }} </p>
          </div>
          <div class="widget-carousel__info grid-x">
            <div class="widget-carousel__humidity grid-x">
              <div class="circle circle--humidity"></div>
              <p class="no-margin widget-carousel__humidity-txt"> {{ day.humidity }} %</p>
            </div>
            <div class="widget-carousel__speed grid-x">
              <div class="circle circle--wind"></div>
              <p class="no-margin widget-carousel__speed-txt"> {{ day.speed }} m/s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<div class="" id="container">
  <div ng2-carouselamos class="slides-wrapper"
        [items]="items">
  </div>
</div>

<div
  ng2-carouselamos
  [width]="500"
  [items]="[
    { name: 'Alice'},
    { name: 'Bob'},
    { name: 'John Doe'},
    { name: 'Jane Doe'}
  ]"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
  (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
></div>

<div>
  Current item selected <br />
  {{ selectedIndex }} - {{ selectedItem }}
</div>

<ng-template #prevTemplate>
  <span>Previous</span>
</ng-template>

<ng-template #nextTemplate>
  <span>next</span>
</ng-template>

<ng-template let-item let-i="index" #itemTemplate>
  <div style="min-width: 200px">
    <b *ngIf="i === selectedIndex">{{i}}. {{item.name}}</b>
    <span *ngIf="i !== selectedIndex">{{i}}. {{item.name}}</span>
  </div>
</ng-template> -->
